* {
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	font-family: "franklin-gothic-urw",sans-serif;
	font-size: 62.5%;
}

a, a:visited, a:active {
	color: #333;	
}

body {
	background-color: #cecece;	
}

#wrapper {
	position:relative;
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow:hidden;
}/*-+*/
	header {
		position:relative;
		margin-top: 60px;
		width: 100%;
		height: 100px;
		font-weight: normal;
		background-color: #666666;
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,.5);
	}/*-+*/
		h1 {
			position:relative;
			margin: 0 auto;
			width: 1001px;
		}/*-+*/
			h1 a {
				position:absolute;
				top: -52px;
				display: block;
				
				width: 477px;
				height: 175px;	
				font-family: arial, helvetica, sans-serif;
				font-weight: normal;
				font-size: 1.2rem;
				text-indent: -99999px;
			}
			
			h1 img {
				margin-top: -52px;	
			}
	
	
	#page {
		position:relative;
		margin: 0 auto;
		padding:0 1.8rem 4.0rem;
		max-width: 1001px;
		min-height: 90%;
		overflow:hidden;
	}/*-+*/
		nav {
			postion:relative;
			width: 100%;
			overflow:hidden;
		}/*-+*/
			nav ul {
				float: right;
				position:relative;
				list-style: none;
				margin: 1.0rem 1.0rem 0 0;
				padding: 0;	
				overflow:hidden;
			}/*-+*/
				nav ul li {
					float:left;
				}/*-+*/
					nav ul li a {
						font-family: "eagle_gt_iiregular",sans-serif;
						font-size: 1.5rem;
						font-weight: normal;
						color: #333;
						text-decoration: none;
					}
	
		#showme {
			/*display: none;*/
			position:relative;
			margin-top: 31px;
			width: 965px;
			height: 375px;
			box-shadow: 3px 3px 5px 0px rgba(0,0,0,.5);
			overflow:hidden;
		}/*-+*/
			.study {
				width: 100%;
				height: 100%;
				background: url("../images/study/wcfb.png") no-repeat 0 0;
			}/*-+*/
				.info {
					position: absolute;
					left: 1.2rem;
					top: 1.2rem;
					padding-right: 1.0rem;
					width: 23.32%;
					height: 92%;
					color: #fff;
					background-color: rgba(112,110,110,0.9);
					box-shadow: 3px 3px 5px 0px rgba(0,0,0,.5);
				}/*-+*/
					.info h5 {
						margin:1.0rem 0 0 1.0rem;
						font-weight: normal;
						color: #fff;
						font-size: 1.2rem;
						line-height: 1.2rem;
					}
					
					.info p {
						margin:1.0rem 0 0 1.0rem;
						color: #fff;
						font-size: 1.5rem;
					}/*-+*/					
						.info p.headline {
							margin:.3rem 0 0 1.0rem;
							font-size: 2.719rem;
						}
					
						.info p.subheadline {
							margin:-0.3rem 0 0 1.0rem;
							font-size: 1.6rem;
						}

						.info p.pkgtype {
							position:absolute;
							left: 1.0rem;
							bottom: 1.0rem;
							margin: 0;
							font-size: 1.6rem;
						}
		
		#left, #right {
			float: left;
			position: relative;
			margin-top: 3.7rem;
			width: 53.6%;
		}
		
		#left {
			margin-right: 2.1rem;
			color: #333;
		}/*-+*/
			#left h3 {
				margin:0;
				color: #841919;
				font-size: 3.669rem;
				font-weight: 400;
			}
			
			#left p {
				color: #333;
				font-size: 1.6rem;
			}
			
		#right {
			width: 42.3rem;
			height: 31.8rem;
			background-color: #706e6e;
			box-shadow: 3px 3px 5px 0px rgba(0,0,0,.5);
			overflow:hidden;
		}/*-+*/
			#right p {
				margin: 0.5rem 0.8rem 0.8rem 20.2rem;
				color: #fff;
				font-size: 1.2rem;
				text-align: right;
			}
						
			#right ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

	footer {
		/*display: none;*/
		width: 100%;
		height: 6.0rem;
		background-color: #cecece;
	}/*-+*/
		footer h3 {
			/*display: none;*/
			position: absolute;
			left: 0px;
			bottom: 14px;
			padding-top: 1.6rem;
			padding-left: 80%;
			width: 100%;
			height: 47px;
			font-family: arial,helvetica,sans-serif;
			color: #fff;
			font-size: 1.2rem;
			font-weight: normal;
			background-color: #a31000;
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
			
		}
		
		
/*======== SPECIAL CONSIDERATION ========*/
@font-face {
	font-family: 'eagle_gt_iiregular';
	src: url('../lib/fonts/eaglegtii-webfont.eot');
	src: url('../lib/fonts/eaglegtii-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../lib/fonts/eaglegtii-webfont.woff') format('woff'),
		 url('../lib/fonts/eaglegtii-webfont.ttf') format('truetype'),
		 url('../lib/fonts/eaglegtii-webfont.svg#eagle_gt_iiregular') format('svg');
	font-weight: normal;
	font-style: normal;
}